<html>

<head>
    <title>Vue.js Pet Depot</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>
    <div id="app">
        <header>
            <h1 v-text="sitename"></h1>
            <button v-on:click='showCheckout'>
                {{cartItemCount}}
                <span class="fas fa-cart-plus"></span> Checkout
            </button>
        </header>   
        <main>
            <div v-if='showProduct'>
                <figure>
                    <img v-bind:src="product.image">
                </figure>
                <h2 v-text="product.title"></h2>
                <p v-html="product.description"></p>
                <p>Price: {{product.price}}</p>
                <p>Available stock: {{product.availableInventory  }}</p>
                <!-- <button v-on:click="addToCart" 
                v-show='canAddToCart'>
                    Add to cart
                </button> -->
                

                <button v-on:click='addToCart' v-if='canAddToCart'>Add to cart</button>
                <button disabled="disabled" v-else>Add to cart</button>
            </div>
            <div v-else>
                <h2>Checkout</h2>
                <p>
                    <strong>First Name:</strong>
                    <!-- This input field is bound to 'firstName' in the 'order' object -->
                    <input v-model.trim="order.firstName"/>
                    </p>
                    <p>
                    <strong>Last Name:</strong>
                    <!-- This input field is bound to 'lastName' in the 'order' object -->
                    <input v-model.trim="order.lastName"/>
                    </p>
                    <p><strong>Address:</strong> <input v-model="order.address"/></p>
                    <p><strong>City:</strong> <input v-model="order.city"/></p>
                    <p>
                    <strong>State:</strong>
                    <select v-model="order.state" class="form-control">
                        <option disabled value="">State</option>
                        <option v-for="(state, key) in states" 
                            v-bind:value="state">
                            {{key}}
                        </option>
                       <!-- <option v-bind:value="states.AL">AL</option>
                        <option v-bind:value="states.AR">AR</option>
                        <option v-bind:value="states.CA">CA</option>
                        <option v-bind:value="states.NV">NV</option>-->
                    </select>
                    </p>
                    <p><strong>Zip/Postal Code:</strong> 
                        <input v-model.number="order.zip" type="number"/>
                    <p><input type="checkbox" id="gift" value="true" v-model="order.gift" v-bind:true-value="order.sendGift"
                        v-bind:false-value="order.dontSendGift">
                    <label for="gift">Ship As Gift?</label></p>

                <p>
                    <input type="radio" id="home" value="Home" v-model="order.method">
                    <label for="home">Home</label>
                    <input type="radio" id="business" value="Business" v-model="order.method">
                    <label for="business">Business</label>
                </p> 
                    <h2>Order Information</h2>
                    <p>First Name: {{order.firstName}}</p>
                    <p>Last Name: {{order.lastName}}</p>
                    <p>Address: {{order.address}}</p>
                    <p>City: {{order.city}}</p>
                    <p>Zip: {{order.zip}}</p>
                    <p>State: {{order.state}}</p>
                    <p>Gift: {{order.gift}}</p>
                    <p>Method: {{order.method}}</p>
                    <button v-on:click="submitForm">Place Order</button>
            </div>
        </main>
    </div>

    <script type="text/javascript">
        var webstore = new Vue({
            el: '#app',
            data: {
                sitename: 'Vue.js Pet Depot',
                showProduct: true,
                order:{
                    firstname:'',
                    lastname:'', 
                    address: '',
                    city: '',
                    zip: '',
                    state: '',
                    method: 'Home',
                    gift: 'Send as a gift',
                    sendGift: 'Send as a gift',
                    dontSendGift: 'Do not send as a gift'
                },
                states: {
                    AL: 'Alabama',
                    AR: 'Arizona',
                    CA: 'California',
                    NV: 'Nevada'
                },
                product: { 
                    id: 1001, 
                    title: "Cat Food, 25lb bag",
                    description: "A 25 pound bag of <em>irresistible</em>, " + "organic goodness for your cat.",
                    price: 2000,
                    image: "images/img.jpeg",
                    availableInventory: 5
                },
                 cart: [],
                showProduct: true,
            },
            methods: {
                addToCart() {
                    this.cart.push(this.product.id);
                    // console.log(this.cart)
                },
                showCheckout() {
                    // console.log(this.showProduct);
                    this.showProduct = this.showProduct ? false : true;
                },
                submitForm() {
                    alert('Order submitted!')
                }
             },
            computed: {
                cartItemCount() {
                    return this.cart.length ;
                },
                canAddToCart() {
                    return this.product.availableInventory > this.cartItemCount;
                }
            },
        });
    </script>
</body>

</html>